*stam*
*stam*/
/.bash_logout
/.bash_history/
/.cache
/.claude/
/.claude.json*
/Cline/
/clip*/
/.codex
/.conda
/.cursor*/
/.config/
/claude_hide/
/data/
/data*
/.dotnet/
/.gemini/
/.git-credentials
/.lesshst
/.local
/miniforge*/
/.npm/
/.nvm/
/.pki/
/.profile
/.python_history
/.ssh/
/Tiny-ImageNet*
/AlignCLIP/
/.triton/
/.viminfo
.vim/plugged/
/.vscode*/
/.wget-hsts
/.Xauthority*
/.xsession*
/.mycfg/
/Gaussian*/
/gaussian*/
/FLAME*/
/.yarn*
/VHAP/
/packages.txt/

